*,
*:after,
*:before{
margin: 0px;
padding: 0px;
box-sizing: border-box;
  
  
}
body{
    background-color: #133337;
  
      font-family: 'Kodchasan', sans-serif;
}
 .menu{
     background: #000000;
     border-radius: 50%;
     width: 60px;
    height: 60px;
   position: fixed;
    bottom: 25px;
    right: 25px;
}
.hamburguer{
    display: block;
    background: #0000FF;
    position: relative;
    width: 30px;
    height:2px ;
}    
.hamburguer:before,
.hamburguer:after{
    background: #0000FF;
    content: '';
      display: block;
    width: 100%;
    height: 100%;
      position: absolute;
}
.hamburguer:before,{
    top: -10;
}
.hamburguer:after{
    bottom: -10;
}

